.sub-categorry{
  .head{
    // background: #d1cece;
    // border: 1px solid #000;
    // box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
  .foot{
    background-color: #8c1434;
    color: white;
    cursor: pointer;
  }
}
