<div class="sub-categorry">
  <div class="head p-3 d-flex justify-content-between align-items-center">
    <h3>{{name}} ({{data?.products?.data?.length}})</h3>
    <a>view All</a>
  </div>
  <div class="products">
    <!-- <div class="product" *ngFor="let p of [1,2,3,4,5,6,7,8,9]">
      <app-product></app-product>
    </div> -->
    <swiper [config]="config">
      <ng-template  *ngFor="let product of data?.products?.data" class="category pt-3" swiperSlide>
          <app-product [data]="product"></app-product>
      </ng-template>
    </swiper>
  </div>
  <div class="foot text-center h3 py-3">
    view All {{name}}
  </div>
</div>
