@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
.products-categorry{
  padding: 0 10px;
  // max-height: 87vh;
 .boxes{
    // margin-right: 0 !important;
    //     margin-left: 0 !important;
 }
  .left{
    // overflow-y: auto;
    // padding-top: 20px;
    padding: 0;
    width: 17%;
    &::after{
      // background-image: url('../../../assets/images/categories/women clothes/6.jpg');
      background-size: cover;
      background-position: center;
      position: relative;
      width: 100%;
      height: 100%;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      z-index: -2;
    }
    ul{
      height: 100%;
      overflow: auto;
      max-height: 100vh;
      li a{
        display: block;
        color: #000;
        transition: .3s;
        &.active,&:hover{
          background-color: #8c1434;
          color: white;
          border-radius: 10px;
        }
      }
    }
  }
  .right{
    width: 83%;
    .head{

      background-color: #f1e5e9;
      h2{
        color:#8c1434
      }
      a{
        font-size: 1.8rem;
        color: #f06305;
      }
    }
    .my-product{
      width: calc(100% / 5 - 20px);
      margin: 0 2px;
    }
  }
  .foot{
    background-color: #8c1434;
    color: white;
    cursor: pointer;
  }
}

@media (max-width: 992px) {
  .products-categorry .left{
    width: 30%;
  }
  .products-categorry .right{
    width: 70%;
  }
}

@media (max-width: 576px) {
  .products-categorry .left{
    width: 40%;
  }
  .products-categorry .right{
    width: 60%;
  }
}

