<div class="row my-3 px-3">
  <div class="col-lg-3 col-md-6 col-sm-12 my-1">
    <img src="../../../assets/images/sales products/pexels-anna-nekrashevich-8532616.jpg" alt="">
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 my-1">
    <img src="../../../assets/images/sales products/pexels-jatin-anand-125779.jpg" alt="">
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 my-1">
    <img src="../../../assets/images/sales products/pexels-royal-anwar-983497.jpg" alt="">
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 my-1">
    <img src="../../../assets/images/sales products/pexels-jatin-anand-125779.jpg" alt="">
  </div>
</div>
